<!doctype html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>
    {{- if ne .q "" -}}
    {{ .q }} - {{ .domain }}
    {{- else -}}
    {{ .domain }}
    {{- end -}}
  </title>
  <link href="{{ .stylesheet }}" rel="stylesheet">
</head>

<body>
  <main class="container">
    <div class="right">
      [ <a href="/"> Top </a> ]
    </div>
    <div class="right">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      {{- if ne .category "" -}}
      [ <a href="https://{{ .domain }}/posts/new?category_path=%2F{{ .category | urlquery }}%2F">Post</a> ]
      {{- else -}}
      [ <a href="https://{{ .domain }}/posts/new">Post</a> ]
      {{- end -}}
    </div>
    <div class="right">
      <form method="get">
        <input autocomplete="off" class="form-control search-form__input" id="search_input" name="q"
          placeholder="foo category:bar/baz comment:foobar" value="{{ .q }}">
      </form>
    </div>
    <nav class="pagination">
      {{- if gt .prev_page 0 -}}
      <span class="prev">
        {{- if ne .q "" -}}
        <a rel="prev" href="?q={{ .q }}&page={{ .prev_page }}">‹ Prev</a>
        {{- else -}}
        <a rel="prev" href="?page={{ .prev_page }}">‹ Prev</a>
        {{- end -}}
      </span>
      {{- end -}}
      {{- if gt .next_page 0 -}}
      <span class="next">
        {{- if ne .q "" -}}
        <a rel="nex" href="?q={{ .q }}&page={{ .next_page }}">Next ›</a>
        {{- else -}}
        <a rel="nex" href="?page={{ .next_page }}">Next ›</a>
        {{- end -}}
      </span>
      {{- end -}}
    </nav><!-- pagination -->

    {{- range $_, $p := .posts -}}
    <div class="post-header">
      <div class="post-header__left">
        <div class="posts-title">
          <div class="post-header__upper">
            <span class="post-header__id">#{{ $p.Number }}</span>
            {{- if $p.Category -}}
            <ul class="category-path">
              {{- $dirs := split "/" $p.Category }}
              {{- range $i, $d := $dirs -}}
              <li class="category-path__item">
                {{- if eq $i 0 -}}
                <a class="category-path__link" href="/">/</a>
                <a class="category-path__link" href="/{{ $d }}">{{ $d }}</a>
                {{- else -}}
                <a class="category-path__link" href="/{{ slice $dirs 0 $i | join "/" }}/{{ $d }}">{{ $d }}</a>
                {{- end -}}
              </li>
              {{- end -}}
            </ul>
            {{- end -}}
          </div>
          <h1 class="post-title {{ if $p.Wip }} is-wip {{ end }}">
            {{- if $p.Wip -}}
            <span class="count-num post-title__icon-wip icon-wip tip">WIP</span>
            {{- end -}}
            <a class="post-title__link" href="https://{{ $.domain }}/posts/{{ $p.Number }}">
              <span class="post-title__name">{{ emoji $p.Name }}</span>
            </a>
            {{- range $_, $t := $p.Tags -}}
            <a class="post-title__tag" href="?q=%23{{ $t  }}">
              #{{ $t }}
            </a>
            {{- end -}}
            <a class="post-title__action" href="https://{{ $.domain }}/posts/{{ $p.Number }}/edit">
              <i class="post-title__action-icon fa fa-pencil"></i>
            </a>
          </h1>
        </div>
      </div><!-- post-header__left -->

      <div class="post-header__right">
        <ul class="post-author">
          <li class="post-author__item">
            <div class="post-author__thumbnail">
              <img class="thumbnail__image" src="{{ $p.CreatedBy.Icon }}">
            </div>
            <div class="post-author__info">
              <div class="post-author__user">
                Created by <a href="?q=@{{ $p.CreatedBy.ScreenName }}">{{ $p.CreatedBy.ScreenName }}</a>
              </div>
              <div class="post-author__date">
                {{ $p.CreatedAt }}
              </div>
            </div>
          </li>
          <li class="post-author__item">
            <div class="post-author__thumbnail">
              <img class="thumbnail__image" src="{{ $p.UpdatedBy.Icon }}">
            </div>
            <div class="post-author__info">
              <div class="post-author__user">
                Updated by <a href="?q=@{{ $p.UpdatedBy.ScreenName }}">{{ $p.UpdatedBy.ScreenName }}</a>
              </div>
              <div class="post-author__updated-wrapper">
                <div class="post-author__date">
                  {{ $p.UpdatedAt }}
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div><!-- post-header__right -->
    </div><!-- post-header -->

    <div class="layout-post__content" style="border-bottom:3px solid #0a9b94;">
      <div class="layout-post__main">
        <div class="post-body markdown">
          {{ $p.BodyHtml }}
        </div>
      </div>
    </div><!-- layout-post__content -->
    {{- end -}}

    <nav class="pagination">
      {{- if gt .prev_page 0 -}}
      <span class="prev">
        {{- if ne .q "" -}}
        <a rel="prev" href="?q={{ .q }}&page={{ .prev_page }}">‹ Prev</a>
        {{- else -}}
        <a rel="prev" href="?page={{ .prev_page }}">‹ Prev</a>
        {{- end -}}
      </span>
      {{- end -}}
      {{- if gt .next_page 0 -}}
      <span class="next">
        {{- if ne .q "" -}}
        <a rel="nex" href="?q={{ .q }}&page={{ .next_page }}">Next ›</a>
        {{- else -}}
        <a rel="nex" href="?page={{ .next_page }}">Next ›</a>
        {{- end -}}
      </span>
      {{- end -}}
    </nav><!-- pagination -->
  </main>
</body>

</html>
